<table class="table table-hover">
  <thead>
    <tr>
      <th>Musician</th>
      <th>Host</th>
      <th>Arrival</th>
      <th>Departure</th>
      <th>Co#</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @accomodations.each do |accomodation| %>
      <tr>
        <td><%= accomodation.musician.name %></td>
        <td><%= accomodation.address.nickname %></td>
        <td><%= accomodation.try(:arrival).try(:strftime, "%a %b %e") %></td>
        <td><%= accomodation.try(:departure).try(:strftime, "%a %b %e") %></td>
        <td><%= accomodation.co %></td>
        <td><%= link_to 'Show', accomodation, class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Edit', edit_accomodation_path(accomodation), class: 'btn btn-warning btn-sm' %></td>
        <td><!%= link_to 'Destroy', accomodation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
