
<%= simple_form_for(@accomodation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :address, label_method: :nickname, collection: Address.order(:nickname) %>
    <%= f.association :musician, collection: Musician.order(:name) %>
    <%= f.input :arrival %>
    <%= f.input :departure %>
    <%= f.input :co %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
