<p id="notice"><%= notice %></p>

<h1>Accomodations</h1>

<table>
  <thead>
    <tr>
      <th>Musician</th>
      <th>Host</th>
      <th>Arrival</th>
      <th>Departure</th>
      <th>Co</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accomodations.each do |accomodation| %>
      <tr>
        <td><%= accomodation.musician.name %></td>
        <td><%= accomodation.address.nickname %></td>
        <td><%= accomodation.arrival %></td>
        <td><%= accomodation.departure %></td>
        <td><%= accomodation.co %></td>
        <td><%= link_to 'Show', accomodation %></td>
        <td><%= link_to 'Edit', edit_accomodation_path(accomodation) %></td>
        <td><%= link_to 'Destroy', accomodation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accomodation', new_accomodation_path, class: "btn btn-primary btn-sm" %>
