<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nickname %>
    <%= f.input :color %>
  </div>

  <div>
    <p><strong>Musicians:</strong></p>

    <div id="musicians">
	<%= f.association :musicians, collection: Musician.order(:name) %>

      <!%= f.fields_for :musicians do |musician| %>
        <!%= render '/musicians/musician_fields', f: musician %>
      <!% end %>

      <div class="links">
        <%= link_to_add_association 'add musician', f, :musicians, class: 'btn btn-success btn-sm' %>
      </div>
    </div>

    <br>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-large' %>
  </div>
</div>
<% end %>
