
<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :nickname %>
    <%= f.input :color %>
    <%= f.association :festival %>
  </div>

  <div>
    <p><strong>Links to Musicians:</strong></p>

    <div id="musicians">
      <%= f.fields_for :team_musicians do |tm| %>
        <%= render 'team_musician_fields', f: tm %>
      <% end %>

      <br>

      <div class="links">
        <%= link_to_add_association 'add musician', f, :team_musicians, class: 'btn btn-success btn-sm' %>
      </div>
    </div>

    <br>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-large' %>
  </div>
</div>
<% end %>
