<p id="notice"><%= notice %></p>

<p>
  <strong>Team Nickname:</strong>
  <%= @team.nickname %>
</p>

<p>
  <strong>Color:</strong>
  <%= @team.color %>
</p>


<br> <br> <br>

<h6>First Event Notes</h6>
<%= @team.events.first.notes if @team.events.first %>

<br> <br> <br>

<h4>Team Members</h4>
<% @buttons = false %>
<% @musicians = @team.musicians.includes(:instrument).order('instruments.order') %>
<%= render '/musicians/musician_index' %>


<br> <br> <br>

<h4>Events</h4>
<% @events = @team.events.all %>
<%= render '/events/event_all_index' %>

<br> <br> <br>

<%= link_to 'Edit', edit_team_path(@team), class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', teams_path,            class: 'btn btn-warning btn-sm' %>
