<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @team.nickname %>
</p>

<p>
  <strong>Musician:</strong>
  <%= @team.musician %>
</p>

<p>
  <strong>Color:</strong>
  <%= @team.color %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
