<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @movement.name %>
</p>

<p>
  <strong>Piece:</strong>
  <%= @movement.piece.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @movement.order %>
</p>

<%= link_to 'Edit', edit_movement_path(@movement) %> |
<%= link_to 'Back', movements_path %>
