<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task_type.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @task_type.order %>
</p>

<br> 

<%= link_to 'Edit', edit_task_type_path(@task_type), class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', task_types_path, class: 'btn btn-warning btn-sm' %>
