<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @task.order %>
</p>

<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', tasks_path, class: 'btn btn-warning btn-sm' %>
