<p id="notice"><%= notice %></p>

<p>
  <h3> <%= @musician.name %> </h3>
</p>

<br> <br> <br>

<h4>Events</h4>


<% @events = @musician.events.where(festival_id: 2) %>
<% @showInstructions = false %>
<% if user_signed_in? %>
    <%= render '/events/event_all_index' %>
<% else %>
    <%= render '/events/event_guest_index' %>
<% end %>

<br> <br> <br>

<% if user_signed_in? %>
    <h4>Notes</h4>
    <table class='table table-hover'>
      <tbody>
	<% @bits = @musician.sheets %>
	<% @bits.each do |s| %>
	  <tr>
	    <td><%= s.created_at.strftime("%m/%d/%y %I:%M%p") %></td>
	    <td><%= s.note %></td>
	  </tr>
	<% end %>
      </tbody>
    </table>
    <br> <br> <br>
<% end %>

<h4>Accommodations</h4>

  <% @accomodations = @accomodations.where(musician_id: @musician.id, festival_id: 2) %>
  <%= render 'accomodation_index' %>

<br> <br> <br>

<% if user_signed_in? %>
    <h4>Concert History</h4>
    <table class='table table-hover table-striped'>
      <tbody>
	<% @bits = Performer.where(musician_id: @musician.id) %>
	<% @bits.each do |performer| %>
	  <tr>
	    <td><%= performer.concert.startTime.strftime("%A, %B %e, %Y") %></td>
	    <td><%= performer.concert.name %></td>
	    <td><%= performer.piece.name %></td>
	    <td><%= performer.instrument %></td>
	  </tr>
	<% end %>
      </tbody>
    </table>
<% end %>
