
<%= simple_form_for(@sales_report) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :festival %>

    <%= f.association :event, label_method: :label, collection: Event.where.not(label: [nil, ""]).order(:start) %>
    
    <%= f.association :vendor %>
    <%= f.association :ticket_category %>
    <%= f.input :description %>
    <%= f.input :count %>
    <%= f.input :unit_price %>
    <%= f.input :final %>
    <%= f.input :quickbooks %>

    <%= f.association :payment_method, label: 'old payment method' %>
    <%= f.input :concert, label: 'old concert' %>
    <%= f.input :date, label: 'old date' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
