<p id="notice"><%= notice %></p>

<h4>Sales Summary</h4>

<% concertList = Array.new %>
<% concertCount = Hash.new %>
<% passCount = 0 %>

<table class="table table-header">
  <thead>
    <tr>
      <th>Date</th>
      <th>Vendor</th>
      <th>Concert</th>
      <th>Ticket category</th>
      <th>Description</th>
      <th class="text-right">Count</th>
      <th class="text-right">Unit price</th>
      <th class="text-right">Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% subTotal = 0 %>
    <% total = 0 %>
    <% first = true %>
    <% oldDate = "" %>

    <% @sales_reports.where('event_id > 0').includes(:event).order('events.start', :vendor_id).each do |sales_report| %>

      <% if sales_report.ticket_category.name == "Festival Pass" %>
        <% passCount += sales_report.count %>
	<% countMe = false %>
      <% else %>
	<% countMe = true %>
	<% if sales_report.event %>
	  <% lab = sales_report.event.label %>
	<% else %>
	  <% lab = sales_report.description %>
	<% end %>
	<% if concertList[-1] != lab %>
	  <% concertList.push(lab) %>
	  <% concertCount[lab] = 0 %>
	<% end %>
      <% end %>
      <% if countMe and lab %>
        <% concertCount[lab] = concertCount[lab] + sales_report.count %>
      <% end %>

      <% if ( sales_report.event ) %>
        <% dt = sales_report.event.start.try(:strftime, "%a %m/%d") %>
      <% else %>
        <% dt = sales_report.date.try(:strftime, "%a %m/%d") %>
      <% end %>
    
      <% if first == false and oldDate != dt %>
        <tr>
	  <td> </td>
	  <td colspan="6"> SubTotal </td>
	  <td class="text-right"> <%= number_to_currency subTotal, precision: 0 %> </td>
	</tr>
	<% total = total + subTotal %>
	<% subTotal = 0 %>
      <% end %>
      <% first = false %>
      <% oldDate = dt %>

      <tr>
        <td><%= dt %></td>
        <td><%= sales_report.vendor.name %></td> 

	<% if (sales_report.event) %>
	  <td><%= sales_report.event.start.try(:strftime, "%a %m/%d") %></td>
	<% else %>
	  <td><%= sales_report.date.try(:strftime, "%a %m/%d") %></td>
	<% end %>

        <td><%= sales_report.ticket_category.name %></td>
        <td><%= sales_report.event.label if sales_report.event %></td>
        <td class="text-right"><%= sales_report.count %></td>
        <td class="text-right"><%= number_to_currency sales_report.unit_price, precision: 0 %></td>
	<% amt = sales_report.count * sales_report.unit_price %>
	<% subTotal = subTotal + amt %>
        <td class="text-right"><%= number_to_currency amt, precision: 0  %></td>
        <td><!%= link_to 'Show', sales_report, class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Edit', edit_sales_report_path(sales_report), class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Destroy', sales_report, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
        <tr>
	  <td> </td>
	  <td colspan="6"> SubTotal </td>
	  <td class="text-right"> <%= number_to_currency subTotal, precision: 0 %> </td>
	</tr>
	<% total = total + subTotal %>
	<% subTotal = 0 %>

        <tr>
	  <td colspan="7"> Total </td>
	  <td class="text-right"> <%= number_to_currency total, precision: 0 %> </td>
	</tr>

  </tbody>
</table>

<%= link_to 'New Sales Report', new_sales_report_path, class: 'btn btn-primary btn-sm' %>

<br> <br> <br>


<h4> Ticket Counts </h4>

<table class="table table-header">
  <thead>
    <tr>
      <th>Concert</th>
      <th class="text-right">Count</th>
      <th class="text-right">Passes</th>
      <th class="text-right">Total</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
      <% ct = 0 %>
      <% while ct < concertList.length do %>
        <tr>
          <td><%= concertList[ct] %> </td>
          <td class="text-right"><%= concertCount[concertList[ct]] %> </td>
	  <td class="text-right"> <%= passCount %> </td>
	  <td class="text-right"> <%= passCount + concertCount[concertList[ct]] %></td>
	  <td> </td>
        </tr>
	<% ct = ct + 1 %>

      <% end %>

  </tbody>
</table>



<!-- 

<h4>Sales Reports</h4>

<table class="table table-header">
  <thead>
    <tr>
      <th>Date</th>
      <th>Vendor</th>
      <th>Concert</th>
      <th>Ticket category</th>
      <th>Description</th>
      <th class="text-right">Count</th>
      <th class="text-right">Unit price</th>
      <th class="text-right">Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @sales_reports.each do |sales_report| %>

      <tr>
        <td><%= sales_report.vendor.name %></td> <td><%= sales_report.event.start.try(:strftime, "%a %m/%d") if sales_report.event %></td>
        <td><%= sales_report.ticket_category.name %></td>
        <td><%= sales_report.event.label if sales_report.event %></td>
        <td class="text-right"><%= sales_report.count %></td>
        <td class="text-right"><%= number_to_currency sales_report.unit_price, precision: 0 %></td>
	<% amt = sales_report.count * sales_report.unit_price %>
        <td class="text-right"><%= number_to_currency amt, precision: 0  %></td>
        <td><%= link_to 'Edit', edit_sales_report_path(sales_report), class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Destroy', sales_report, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br> <br> <br>

-->

