<p id="notice"><%= notice %></p>

<h1>Composers</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @composers.order(:nickname).each do |composer| %>
      <tr>
        <td><%= composer.fullname %></td>
        <td><%= composer.notes %></td>
        <td><%= link_to 'Show', composer, class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Edit', edit_composer_path(composer), class: 'btn btn-warning btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Composer', new_composer_path, class: 'btn btn-primary btn-lg' %>
