<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @composer.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @composer.nickname %>
</p>

<p>
  <strong>Lifetime:</strong>
  <%= @composer.lifetime %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @composer.fullname %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @composer.notes %>
</p>

<%= link_to 'Edit', edit_composer_path(@composer) %> |
<%= link_to 'Back', composers_path %>
