<p id="notice"><%= notice %></p>

<p>
  <h3> <%= @composer.fullname %> </h4>
</p>

<p>
  <strong>Notes:</strong>
  <%= @composer.notes %>
</p>

<h4>Pieces</h4>
<table class='table table-hover'>
  <tbody>
    <% @bits = Piece.where(composer_id: @composer.id) %>
    <% @bits.each do |piece| %>
      <tr>
        <td><%= piece.full_title %></td>
	<td><%= link_to 'Show', piece, class: 'btn btn-warning btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_composer_path(@composer), class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', composers_path, class: 'btn btn-warning btn-sm' %>
