<table class='table table-hover'>
  <thead>
    <tr>
      <th>Event</th>
      <th>Start</th>
      <th>Location</th>
    </tr>
  </thead>

  <tbody>
    <% @events.order('start').each do |event| %>
	<tr bgcolor="<%=event.type.color%>">
	  <td><%= event.name %></td>
	  <td><%= event.try(:start).try(:strftime, "%a %m/%d %I:%M%p") %></td>
	  <td><%= event.location.name %></td>
	</tr>

	<% @bits = event.sheets %>
	<% @bits.each do |s| %>
	    <tr>
	      <td> </td>
	      <td colspan="2" ><%= s.created_at.strftime("%m/%d %I:%M%p") %></td>
	      <td colspan="3" ><%= s.note %></td>
	      <td colspan="3" > </td>
	    </tr>
	<% end %>
      <% end %>
    </tbody>
  </table>
