<table class='table table-hover'>
  <thead>
    <tr>
      <th> &nbsp; </th>
      <th>Start</th>
      <th>End</th>
      <th>Event</th>
      <th>Location</th>
      <th> </th>
    </tr>
  </thead>

    <% now = DateTime.now.to_i - 18000 %>
    <% cdate = "" %>
    <% inProcess = false %>
    <% @events.order('start').uniq.each do |event| %>
      <% next if event.end.to_i < now %>
      <% edate = event.try(:start).try(:strftime, "%Y%m%d") %>
      <% if cdate == edate %>
	  <% # if the dates match, do nothing %>
      <% else %> 
        <!tr bgcolor="#ffff00">
        <tr bgcolor="#f0f0f5">
	  <td> </td>
	  <td colspan="3">
	      <h6><strong> <%= event.try(:start).try(:strftime, "%A %B %e") %></strong></h6>
	  </td>
	  <td> </td>
	  <td> </td>
	</tr>
	<% cdate = edate %>
	<tbody>
      <% end %> 

	<tr bgcolor="<%=event.type.color%>">
	  <td> </td>
	  <td bgcolor="<%=event.type.color%>"><%= event.try(:start).try(:strftime, "%I:%M%p") %></td>
	  <td bgcolor="<%=event.type.color%>"><%= event.try(:end).try(:strftime, "%I:%M%p") %></td>
	  <td bgcolor="<%=event.type.color%>"><%= event.name %></td>
	  <td bgcolor="<%=event.type.color%>"><%= event.location.htmlButton %></td>
	  <td> </td>
	</tr>
	<% unless event.notes.nil? || event.notes.length == 0%>
	  <tr bgcolor="<%=event.type.color%>">
	    <td> </td>
	    <td> </td>
	    <td> </td>
	    <td> <%= event.type.name %> </td>
	    <td> <%= event.notes %> </td>
	    <td> </td>
	  </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
