<%= simple_form_for(@event) do |f| %> <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :festival %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.association :type, collection: Type.order(:name) %>
    <%= f.association :location, collection: Location.order(:name) %>
    <%= f.input :heads, label: "Head Count" %>
    <%= f.input :staff, label: "Staff Count" %>
    <%= f.input :notes %>
    <%= f.input :color %>
  </div>

  <div>
    <p><strong>Instructions:</strong></p>
    <div id="instructions">
      <% setup_instructions(@event) %>
      <%= f.fields_for :instructions do |i| %>
	<%= render 'instruction_fields', f: i %>
      <% end %>
    </div>
  </div>
  
  <br> <br> <br>

  <div>
    <p><strong>Teams:</strong></p>
    <div id="teams">
      <%= f.fields_for :event_teams do |et| %>
        <%= render 'event_team_fields', f: et %>
      <% end %>

      <br>

      <div class="links">
        <%= link_to_add_association 'Link Team to Event', f, :event_teams, class: 'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>

  <div>
    <p><strong>New Notes:</strong></p>

    <div id="sheets">
      <%= f.fields_for :sheets do |sheet| %>
        <%= render 'sheet_fields', f: sheet %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'Add Note', f, :sheets, class: 'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>

<br>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-lg' %>
  </div>
<% end %>


