<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :start %>
    <%= f.input :end %>
    <%= f.association :type %>
    <%= f.association :location %>
    <%= f.input :notes %>
    <%= f.input :color %>
  </div>

  
  <div>
    <p><strong>Teams:</strong></p>
    <div id="teams">
      <%= f.fields_for :event_teams do |et| %>
        <%= render 'event_team_fields', f: et %>
      <% end %>

      <br>

      <div class="links">
        <%= link_to_add_association 'Link Team to Event', f, :event_teams, class: 'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>

  <div>
    <p><strong>New Notes:</strong></p>

    <div id="sheets">
      <%= f.fields_for :sheets do |sheet| %>
        <%= render 'sheet_fields', f: sheet %>
      <% end %>

      <div class="links">
        <%= link_to_add_association 'Add Note', f, :sheets, class: 'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>

<br>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-lg' %>
  </div>
<% end %>


