<! events/index.html/erb >

<p id="notice"> Welcome <%= current_user.email %> ... <%= notice %></p>

<h4>Daily Calendar</h4>

    <div id="calendar33"></div>

    <br> <br> <br>

<h4>Discussions</h4>

    <% @allOn = false %>
    <%= render 'discussion_index' %>

<h4>Events</h4>

    <!% @accomodations = @accomodations.all.order(:arrival) %>
    <%= render 'event_dates_index' %>

<h4>Accomodations</h4>

    <% @accomodations = @accomodations.all.order(:arrival) %>
    <%= render '/accomodations/accomodation_index' %>

<h4>Flights</h4>

    <%= render '/flights/flight_index' %>

