<! events/index.html/erb >

<p id="notice"> Welcome <%= current_user.email %> ... <%= notice %></p>

<h4>Daily Calendar</h4>

    <div id="calendar33"></div>

    <br> <br> <br>

<h4>Discussions</h4>

    <% @allOn = false %>
    <%= render 'discussion_index' %>

<h4>Events</h4>

    <%= render 'event_dates_index' %>

<!--  <h4>Spreadsheet</h1> -->

    <!%= link_to 'Download as .xlsx', events_path(format: :xlsx) %>
    <!br> <!br> <!br>

<h4>Accommodations</h4>

    <! @accomodations = @accomodations.order(:arrival) %>
    <% @accomodations = Accomodation.where(festival_id: [nil, 2, 3]).order(:arrival) %>
    <%= render '/accomodations/accomodation_index' %>

<h4>Transportation</h4>

    <% @buttons = false %>
    <% @flights = Flight.where(festival_id: [nil, 2, 3]).order(:departure) %>
    <%= render '/flights/flight_index' %>

