<p id="notice"><%= notice %></p>

<p>
  <h3> <%= @piece.full_title %> </h3>
</p>

<p>
  <%= @piece.composer.fullname %>
</p>


<h4>Movements</h4>
<table class='table table-hover'>
  <tbody>
    <% @bits = Movement.where(piece_id: @piece.id).order(:order) %>
    <% @bits.each do |movement| %>
      <tr>
        <td><%= movement.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h4>Concerts</h4>
<table class='table table-hover'>
  <tbody>
    <% @bits = Performance.where(piece_id: @piece.id) %>
    <% @bits.each do |performance| %>
      <tr>
        <td><%= performance.concert.startTime.strftime("%A, %B %e, %Y") %></td>
        <td><%= performance.concert.name %></td>
      </tr>
	    <% @bobs = Performer.where(piece_id: performance.piece_id, concert_id: performance.concert_id) %>
	    <% @bobs.order(:order).each do |performer| %>
		<tr>
		    <td> </td>
		    <td> <%= performer.listing %> </td>
		</tr>
	    <% end %>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_piece_path(@piece), class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', pieces_path, class: 'btn btn-warning btn-sm' %>
