<p id="notice"><%= notice %></p>

<p>
  <h2> <%= @concert.name %> </h2>
</p>

<p>
    <%= @concert.location %>
</p>

<p>
    <%= @concert.startTime.strftime("%A, %B %e, %Y, %I:%M %p") %>
</p>

<h3>Program</h3>

<table class='table table-hover'>
  <tbody>
    <% @bits = Performance.where(concert_id: @concert.id).order(:order) %>
    <% @bits.each do |performance| %>
      <tr>
        <td><%= performance.piece.composer.fullname %></td>
        <td><%= performance.piece.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_concert_path(@concert), class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', concerts_path, class: 'btn btn-warning btn-sm' %>
