
<%= simple_form_for(@performer) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :listing %>
    <%= f.association :concert %>
    <%= f.association :musician %>
    <%= f.input :instrument %>
    <%= f.input :order %>
    <%= f.association :piece %>
    <%= f.input :concert_date %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
