<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @performer.listing %>
</p>

<p>
  <strong>Concert:</strong>
  <%= @performer.concert.name %>
</p>

<p>
  <strong>Musician:</strong>
  <%= @performer.musician.name %>
</p>

<p>
  <strong>Instrument:</strong>
  <%= @performer.instrument %>
</p>

<p>
  <strong>Order:</strong>
  <%= @performer.order %>
</p>

<p>
  <strong>Piece:</strong>
  <%= @performer.piece.name %>
</p>

<p>
  <strong>Concert date:</strong>
  <%= @performer.concert.startTime.strftime("%A, %B %e, %Y") %>
</p>

<%= link_to 'Edit', edit_performer_path(@performer), class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', performers_path, class: 'btn btn-warning btn-sm' %>
