<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @airline.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @airline.nickname %>
</p>

<%= link_to 'Edit', edit_airline_path(@airline), class: 'btn btn-warning btn-sm'  %> |
<%= link_to 'Back', airlines_path, class: 'btn btn-warning btn-sm'  %>
