<p id="notice"><%= notice %></p>

<p>
  <h2> <%= @festival.name %> </h2>
</p>

<p>
  <h5><%= @festival.dates %></h5>
</p>

<br> <br> <br>

<h4>Festival Events</h4>
<% @events = @festival.events %>
<%= render '/events/event_all_index' %>

<br> <br> <br>

<h4>Festival Musicians</h4>
<% @buttons = false %>
<% @musicians = @festival.musicians.distinct.includes(:instrument).order('instruments.order') %>
<%= render '/musicians/musician_index' %>

<br> <br> <br>

<br> <br> <br>

<% @teams = @festival.teams %>
<h4>Teams</h4>
<table class='table table-hover'>
  <thead>
    <tr>
      <th>Team</th>
      <th>Festival</th>
      <th>Musicians</th>
      <th>Instrument</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.order('nickname').each do |team| %>
      <tr>
        <td><%= team.nickname %></td>
        <td><%= team.festival.name if team.festival %></td>
        <td><%= team.color %></td>
        <td> </td>
        <td><%= link_to 'Show', team,                 class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Edit', edit_team_path(team), class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm' %></td>
      </tr>

      <% team.musicians.includes(:instrument).order('instruments.order').each do |m| %>
        <tr>
          <td> </td>
          <td> </td>
          <td> <%= m.name if m %> </td>
          <td colspan="4"> <%= m.instrument.name if m.instrument %> </td>
        </tr>
      <% end %>

    <% end %>
  </tbody>
</table>

<br> <br> <br>

<%= link_to 'Edit', edit_festival_path(@festival), class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', festivals_path,                class: 'btn btn-warning btn-sm' %>
