
<%= simple_form_for(@team_musician) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :team, label_method: :nickname, collection: Team.order(:nickname)  %>
    <%= f.association :musician, collection: Musician.order('LOWER(last)', :first) %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-success btn-lg' %>
  </div>
<% end %>
