<p id="notice"><%= notice %></p>

<h1>Instruments</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Order</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @instruments.order(:order).each do |instrument| %>
      <tr>
        <td><%= instrument.name %></td>
        <td><%= instrument.order %></td>
        <td><%= link_to 'Show', instrument, class: 'btn btn-warning btn-sm' %></td>
        <td><%= link_to 'Edit', edit_instrument_path(instrument), class: 'btn btn-warning btn-sm' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instrument', new_instrument_path, class: 'btn btn-primary btn-sm' %>
