<p id="notice"><%= notice %></p>

<p>
  <strong>Concert:</strong>
  <%= @performance.concert.startTime.strftime("%A, %B %e, %Y") %>
  <%= @performance.concert.name %>
</p>

<p>
  <strong>Piece:</strong>
  <%= @performance.piece.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @performance.order %>
</p>

<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
