<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Nickname:</strong>
  <%= @location.nickname %>
</p>

<p>
  <strong>Color:</strong>
  <%= @location.color %>
</p>

<%= link_to 'Edit', edit_location_path(@location), class: 'btn btn-warning btn-sm' %> |
<%= link_to 'Back', locations_path, class: 'btn btn-warning btn-sm' %>
