<%# add navigation links to this file %>

<li class='nav-item'><%= link_to 'Flights', '/flights', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Accomodations', '/accomodations', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Airlines', '/airlines', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Hotels/Hosts', '/addresses', class: 'nav-link' %></li>
<br>
<br>
<li class='nav-item'><%= link_to 'Musicians', '/musicians', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Teams', '/teams', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Disussions', '/discussions', class: 'nav-link' %></li>
<br>
<br>
<li class='nav-item'><%= link_to 'Event Types', '/types', class: 'nav-link' %></li>
<li class='nav-item'><%= link_to 'Locations', '/locations', class: 'nav-link' %></li>
